{% extends "base.html"%} <!-- ja esta trazendo todo html e sua estrutura-->
    <!--container esta centralizando todo conteudo no meio-->
    {% block title %} Cadastrar Cliente{% endblock%}
    
    {% block conteudo %}
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <!-- Adicionando Javascript -->
    <script type="text/javascript">
      
        
        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#endereco").val("");
                $("#bairro").val("");
            }
            
            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#endereco").val("...");
                        $("#bairro").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#endereco").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            
            
            });
        });
        document.querySelector("form").addEventListener("submit", (e)=>{
            if(!document.querySelector("input[name='codigo_responsavel']").checked){
                alert("Marque o radio button");
                e.preventDefault();
            }
        });
    </script>
    <div class="container"> <!--div: classe para divisao e melhor organizacao no html--> <!--container eh uma estiliacao para interagem com usuario-->
        <h2 class="h2 text-primary">Cadastrar Aluno</h2>
        <form action="/salvar_cadastro_aluno" method="POST" id="cadastro_aluno" name="frm_cadastro_aluno" class="ml-3 mb-3"> <!--action aciona a rota no caso vamos acionar a rota de salvamento/ post pq na rota se espera post-->
            <!--grupo de formulario-->
            <div class="form-group">
                <label for="nome_aluno">Nome:</label> <!-- rotulo para os campos-->
                <input type="text" class="form-control" name="nome_aluno" required>        
            </div>
            <div class="form-group">
                <label for="ra_aluno">RA:</label> <!-- rotulo para os campos-->
                <input type="text" class="form-control" name="ra_aluno" required>        
            </div>
            <div class="form-group">
                <label for="cep">CEP:</label> <!-- rotulo para os campos-->
                <input type="text" class="form-control" name="cep" id="cep" required>        
            </div>
            <div class="form-group">
                <label for="endereco">Endereço:</label> <!-- rotulo para os campos-->
                <input type="text" class="form-control" name="endereco" id="endereco" required>        
            </div>
            <div class="form-group">
                <label for="bairro">Bairro:</label> <!-- rotulo para os campos-->
                <input type="text" class="form-control" name="bairro" id="bairro" required>        
            </div>          
            <div class="form-group"> <!--utilizamos classe form group para os elementos que vao organizar os grupos de formulario-->
                <label for="Sexo">Sexo:</label>
                <select class="form-control" name="sexo"> <!--utilizamos classe form-control para elementos entrada de valores-->
                <option value="M">Sexo: Masculino</option>
                <option value="F">Sexo: Feminino</option>
                </select>
            </div>
            <!--grupo de formulario-->            
              <!--grupo de formulario-->
            <div class="form-group">
                <label for="data_nascimento">Data de Nascimento:</label> <!-- rotulo para os campos-->
                <input type="date" class="form-control" name="data_nascimento" required><!-- min e max estipula minimo e maximo para o campo-->
            </div>
            <div class="form-group">
                <label for="cpf_aluno">CPF do Aluno</label> <!-- rotulo para os campos-->
                <input type="text" class="form-control" name="cpf_aluno"><!-- min e max estipula minimo e maximo para o campo-->
            </div>
         <h3 class="h3 mt-5 text-secondary">Vincular Responsável</h3>      
        <!-- DIV da TABELA de exibicao-->
        <div class="mb-3" style="overflow: scroll; height: 310px; width: 100%;" align="center"> <!-- style>overflo>scroll permite criar tela de rolagem/ 100% eh a tabela ocupar toda horizontal do container-->
            <table class="table table-bordered table-hover" id="id_tabela_listagem">
                <thead> <!--cabecalho da tabela-->
                    <tr><!--linha da tabela-->
                        <th><a href="/ordenacao/codigo_responsavel/{{ordem}}">Codigo Responsavel</a></th> <!--titulo das colunas--><!--note que passamos o campo no parametro eo campo anteior vem com a listagem-->
                        <th><a href="/ordenacao/nome_responsavel/{{ordem}}">Nome Responsavel</a></th>
                        <th><a href="/ordenacao/telefone_principal/{{ordem}}">Telefone Principal</a></th>
                        <th><a>Ações</a></th>
                    </tr>
                </thead>
                <!--corpo da tabela-->
                <tbody> <!--laco abaixo preeche a tabela-->
                    {% for responsavel in responsaveis%}<!--interpolacao de execucao (pq executa codigo python)-->
                        <tr><!-- cria uma linha para cada interacao/volta do laço for--> 
                            <td nowrap="true"> <!--nowrape n quebra as linhas na exibicao dos dados/ td para cada coluna -->
                                <a href="/selecao_responsavel/{{responsavel.codigo_responsavel}}">{{responsavel.codigo_responsavel}}</a>          
                            </td>
                            <td nowrap="true">{{responsavel.nome_responsavel}}</td><!--interpolacao de exibicao (pq exibe os valores do codigo python)-->
                            <td nowrap="true">{{responsavel.telefone_principal}}</td>
                            <td> <!--radio de seleção-->
                                  <input type="radio" value="{{responsavel.codigo_responsavel}}" name="codigo_responsavel" id="resp_codigo" class="form-check" required>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="form-group text-center">
        <!--link em forma de botao que cancela e volta para /listagem-->
        <!--eh uma forma de evitar funcao js simplesemente para redirecionar a pagina com as classes de botao do Bootstramp-->
        <a href="/listagem_alunos" class="btn btn-secondary" role="button"> Cancelar</a>
        <!--botao salvar-->
        <button type="submit" class="btn btn-success">Cadastrar Aluno</button> <!-- submit chama a funcao post do formulario que chama a rota-->
        </div>
        </form>
    </div>
    {% endblock %}