<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Teste boostrap</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light margin">
    
    <a class="navbar-brand" href="#">
        <img src="img/home.png" width="100" height="80">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#quemsomos" class="nav-link active">Quem Somos</a>
            </li>
            <li class="nav-item">
                <a href="#parceiros" class="nav-link active">Parceiros</a>
            </li>
            <li class="nav-item">
                <a href="#serviços" class="nav-link active">Serviços</a>
            </li>
        </ul>
    </a>
    </div>
</nav>   

    <section id="quemsomos">
        <div class="container-fluid quem-somos text-center margin">
            <h3 class="margin">Quem Somos</h3>
            <img src="img/brunão.png" class="rounded-circle" width=200 height=200>
            <img src="img/gabs.png" class="rounded-circle" width=200 height=200>
            <img src="img/mateus.png" class="rounded-circle" width=200 height=200>
            <img src="img/pri.png" class="rounded-circle" width=200 height=200>
            <h3>Somos um time puro brilho!!!</h3>
        </div>
    </section>

    <section id="parceiros">
        <div class="container-fluid text-center margin parceiros">
            <h3 class="margin">Parceiros</h3>
            <div class="cointainer">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="img/google.png" width=100 height=100>
                    </div>
                    <div class="col-lg-4">
                        <img src="img/telegram.png" width=100 height=100>
                    </div>
                    <div class="col-lg-4">
                        <img src="img/mercado-livre.png" class=rounded-circle width=100 height=100>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="serviços">
        <div class="container-fluid text-center margin servicos">
            <h3 class="margin">Serviços</h3>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p>Não sabe o que escolher? Fale com nossos decoradores</p>
                        <img src="img/decorador.jpg" width=300 height=300>
                    </div>
                    <div class="col-lg-4">
                        <p>Já descobriu o que quer? Confira nossos itens exclusivos</p>
                        <img src="img/itens-avulsos.jpg" width=300 height=300>
                    </div>
                    <div class="col-lg-4">
                        <p>Receba em casa itens escolhidos a dedo de acordo com seu estilo</p>
                        <img src="img/box-surpresa.jpg" width=300 height=300>
                    </div>
                </div>

            </div>
        </div>

    </section>

<footer class="container-fluid text-center bg-footer margin">
    <p>Desenvolvido por alunos do Grupo STADIA Faculdade Impacta Tecnologia</p>
    <h5>As cores deste site são fortes tendências em 2021 (Ocre, Roxo Cinza)</h5>
</footer>
</body>


</html>