<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Css externo e Bootstrap -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="css/style.css">

   <!--fonte da google-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <!-- integração login Google-->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="646561352344-k00r23h9lfel4s1spjpetto3bcvr57r0.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script> 

</head>

<body class="text-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-4"></div>

<div class="col-lg-4 margin-log">
  <main class="form-signin">
    <form>
      <img class="mb-4" src="img/home.png" width="72" height="57">

      <h1 class="h3 mb-3 fw-normal">Entrar</h1>

      <div class="form-floating">
        <input type="email" class="form-control" placeholder="nome@exemplo.com">
        <label for="floatingInput">Endereço de email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" placeholder="senha">
        <label for="floatingPassword">Senha</label>
      </div>
      <div class="checkbox mb-3">
        <label class="margin">
          <input  type="checkbox" value="Lembrar de mim">
          Lembrar de mim
          <a href='/logar'>  
          <button class="w-100 btn btn-lg btn-primary btn-login" type="submit">Entrar</button>

        <!-- integração login Google-->
   
      <div id="gSignInWrapper">
      <div id="customBtn" class="customGPlusSignIn">
                  
          <span class="icon"></span>
          <span class="buttonText">Google</span>
          </a>
      </div>
      </div>    
    
      </label>
      </div>
        

        
 
     
      
    </form>
  </main>
</div>
<div class="col-lg-4"></div>
    
</body>
</html>






