{% extends "base.html"%} <!-- ja esta trazendo todo html e sua estrutura-->
 
    {% block title %} Produtos {% endblock%}

    {% block conteudo %}
    <!--incluindo os arquivos componetes na 1 forma: via html-->
    <!--incluido notificao-->
    {%include 'components/notifications.html'%}

    <!--conteudo da pagina-->
    <!--container esta centralizando todo conteudo no meio-->
    <div class="container"> <!--div: classe para divisao e melhor organizacao no html--> <!--container eh uma estiliacao para interagem com usuario-->
        <h2 class="h2 text-primary mt-5 mb-3">Lista de Produtos</h2>
        <!-- DIV da TABELA de exibicao-->
        <div style="overflow: scroll; height: 490px; width: 109%;" align="center"> <!-- style>overflo>scroll permite criar tela de rolagem/ 100% eh a tabela ocupar toda horizontal do container-->
            <table class="table table-bordered table-hover" id="id_tabela_listagem">
                <thead> <!--cabecalho da tabela-->
                    <tr><!--linha da tabela-->
                        <th><a href="#">Foto</a></th> <!--titulo das colunas--><!--note que passamos o campo no parametro eo campo anteior vem com a listagem-->
                        <th><a href="#">Descrição</a></th>
                        <th><a href="#">Preço</a></th>
                        <th><a href="#">Quantidade</a></th>
                        <th><a href="#">Vendedor</a></th>
                        <th><a href="#">Reputaçao</a></th>
                        <th><a>Ações</a></th>
                    </tr>
                </thead>
                <!--corpo da tabela-->
                <tbody> <!--laco abaixo preeche a tabela-->
                    {% for produto in produtos_m%}<!--interpolacao de execucao (pq executa codigo python)-->
                        <tr><!-- cria uma linha para cada interacao/volta do laço for--> 
                            <td nowrap="true" class="btn btn-white" data-toggle="modal" data-target=".bd-example-modal-lg"> <!--nowrape n quebra as linhas na exibicao dos dados/ td para cada coluna -->
                                <img style="width: 110px" src="{{produto['thumbnail']}}" alt="sem imagem">       
                            </td>
                            <td nowrap="true">{{produto['title']}}</td><!--interpolacao de exibicao (pq exibe os valores do codigo python)-->
                            <td nowrap="true">R${{produto['price']}}</td>
                            <td nowrap="true">{{produto['available_quantity']}}</td>
                            <td nowrap="true"><a href="{{produto['seller']['permalink']}}" target="_blank">{{produto['seller']['nickname']}}</a> </td>
                            <td nowrap="true">{{produto['seller']['seller_reputation']['power_seller_status']}}</td>
                            <td> <!--botao comprar-->
                                <a href="{{produto['permalink']}}" class="btn btn-success" role="button"  target="_blank">Comprar</a> <!-- role button- assumira papel de im botao-->
                           </td>       
                        </tr> /produto/editar/{{produto.codigo_produto}}
                    {%endfor%}
                </tbody>
            </table>
        </div> 
        <!-- Large modal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                ...
            </div>
        </div>
        </div>

    {% endblock %}
    
