{% extends "base.html"%}
<!-- ja esta trazendo todo html e sua estrutura-->
<!--container esta centralizando todo conteudo no meio-->
{% block title %} Cadastrar Pedido{% endblock%}

{% block conteudo %}
<script>
    $(document).ready(function(){
        $("#descricao").blur (function(){ //foco no dscricao pois no drop tem estilo que nega
            
            var codigo_aluno = $("#codigo_aluno").val()
            $.getJSON("/valida/idade/"+codigo_aluno, function(result){
                if(result.status==0){
                    //alert(result.status)
                    alert("Aluno com 12 anos ou mais não atende requisito! ");
                    $("#botaoSalvar").prop('disabled', true); //desabilita botao
                } else{
                    $("#botaoSalvar").prop('disabled', false);
                }

            });
          //alert($("#codigo_aluno").val())
        });
      });
</script>

<div class="container">
    <!--div: classe para divisao e melhor organizacao no html-->
    <!--container eh uma estiliacao para interagem com usuario-->
    <h2>Cadastrar Serviço</h2>
    <form action="/servicos" method="GET" name="frm_cadastro_pedido" class="ml-3">
        <!--action aciona a rota no caso vamos acionar a rota de salvamento/ post pq na rota se espera post-->
        <!--grupo de formulario-->
        <div class="form-row">
            <div class="form-group col-md-6">
                <!--utilizamos classe form group para os elementos que vao organizar os grupos de formulario-->
                <label for="aluno">Selecione o Profissional</label> <br>
                <select id="codigo_aluno" class="dropdown_pesquisa" style="width:400px;" name="aluno">
                    <!--utilizamos classe  form-control para elementos entrada de valores-->
                    {% for profissional in profissionais%}
                    <!--tras a lista de turno-->
                    <option  value="{{profissional.codigo_profissional}}">{{profissional.nome_completo_profissional}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="form-group col-md-6">
                <!--utilizamos classe form group para os elementos que vao organizar os grupos de formulario-->
                <label for="aluno">Selecione o Cliente</label> <br>
                <select class="dropdown_pesquisa" style="width:400px;" name="responsavel">
                    <!--utilizamos classe form-control para elementos entrada de valores-->
                    {%for cliente in clientes%}
                    <option value="{{cliente.codigo_cliente}}">{{cliente.nome_cliente}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="form-group">
            <!--utilizamos classe form group para os elementos que vao organizar os grupos de formulario-->
            <label for="rota">Selecione o Ambiente </label> <br>
            <select class="dropdown_pesquisa" style="width:400px;" name="rota">
                <!--utilizamos classe form-control para elementos entrada de valores-->
                {% for ambiente in ambientes%}
                <!--tras a lista de turno-->
                <option value="{{ambiente.codigo_ambiente}}">{{ambiente.nome_ambiente}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label for="descricao">Observações:</label> <!-- rotulo para os campos-->
            <input id="descricao" type="text" class="form-control" name="descricao" required>
        </div>
        <a href="{{url_for('servicos')}}" class="btn btn-secondary" role="button"> Cancelar</a>
        <!--botao salvar-->
        <button id="botaoSalvar" type="submit" class="btn btn-success">Salvar Serviço</button>
        <!-- submit chama a funcao post do formulario que chama a rota-->
    </form>
</div>
{% endblock %}